.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputGroup label {
    font-weight: 700;
    color: var(--foreground);
}

.inputGroup input {
    padding: 0.8rem;
    border-radius: var(--radius-sm);
    border: 3px solid #000;
    font-family: inherit;
    font-size: 1rem;
}

.inputGroup input:focus {
    outline: none;
    border-color: var(--primary);
}