.header {
    padding: 4rem 0 2rem;
}

.backLink {
    color: var(--primary);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: block;
}

.sectionTitle {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}